:root {
	--cursor: url("../src/assets/normal.cur"), auto;
	--cursor-hover: url("../src/assets/hover.cur"), auto;
}

@font-face {
	font-family: "League";
	font-style: normal;
	src: url("../src/assets/League_font.otf") format("opentype");
}

* {
	font-family: "League", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: var(--cursor);
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
}
